<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        addEventListener("keydown", function (event) {
            switch (event.keyCode) {
                case 37:
                case 38:
                    document.getElementById("prevPage").click();
                    break;
                case 39:
                case 40:
                    document.getElementById("nextPage").click();
                    break;
                case 78:
                case 67:
                    location.href = '/admin/new';
                    break;
                case 70:
                    location.href = '/admin/filter';
                    break;
                case 83:
                    location.href = '/admin/search';
                    break;
                case 82:
                    location.href = '/admin/removeFilter';
                    break;
                case 72:
                    location.href = '/welcome';
                    break;
                case 77:
                case 85:
                    location.href = '/user';
                    break;
                case 76:
                    location.href = '/logout';
                    break;
            }
        });
    </script>
<!--    <div class="col-sm9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
<!--        <div class="col-md-10">-->
<!--            <h1 class="page-header">Users</h1>-->
<!--        </div>-->
<!--        <div class="col-md-2">-->
<!--            <a class="btn btn-primary btn-block" htef="ya.ru">New user</a>-->
<!--        </div>-->
<!--        <div class="col-md-12">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>ID</th>-->
<!--                    <th>Name</th>-->
<!--                    <th>Email</th>-->
<!--                    <th>Nivel</th>-->
<!--                    <th>Status</th>-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>u1</th>-->
<!--                    <th>u1</th>-->
<!--                    <th>u1</th>-->
<!--                    <th>u1</th>-->
<!--                    <th>u1</th>-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->



    <div th:with="userPages = ((${users.size()} - (${users.size()} % 19)))/19 + 1">
        <div>
        <table th:border="1">
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
                <th colspan="3">Action</th>
            </tr>
            <tr th:each="user, itemStat : ${users}"
                th:if="((${itemStat.count}>((${pageNum}*19)-19)) and (${itemStat.count}<((${pageNum}*19))) )">
                <td th:text="${user.getFirstname()}">name</td>
                <td th:text="${user.getLastname()}">lastname</td>
                <td th:text="${user.getAge()}">age</td>
                <td th:text="${user.getEmail()}">email</td>
                <td th:text="${user.getUsername()}">username</td>
                <td th:text="${user.getUserRoles()}">roles</td>
                <td><a th:href="@{/admin/{id}(id=${user.getId()})}">Info</a></td>
                <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
                <td><a th:href="@{/admin/delete={id}(id=${user.getId()})}">Delete</a></td>
            </tr>
            <tr th:if="${(users.size()<=0)&&isFilterActive}">
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><a>Info</a></td>
                <td><a>Edit</a></td>
                <td><a>Delete</a></td>
            </tr>
            <table>
                <tr>
                    <td>
                        <div id="content" style="font-size: smaller">
                            <div>page [[${pageNum}]] of [[${userPages}]], users: [[${users.size()}]]</div>
                        </div>
                    </td>
                </tr>
            </table>
        </table>
        </div>
        <div style="margin-top: 0.6em;">
            <label th:if="${(users.size()<=0)&&isFilterActive}">No entries found<br><br></label>
            <button th:if="${pageNum > 1}" type="button" id="prevPage">Prev page</button>
            <button th:if="${pageNum <= 1}" type="button" disabled>Prev page</button>
            <button th:if="${pageNum} < ${userPages}" type="button" id="nextPage">Next page</button>
            <button th:if="${pageNum} >= ${userPages}" type="button" disabled>Next page</button>
            <button th:if="${!isFilterActive}" id="refresh" type="button">Refresh</button>
            <script type="text/javascript">
                document.getElementById("prevPage").onclick = function () {
                    location.href = '/admin?page=[[${pageNum-1}]]'};
            </script>
            <script type="text/javascript">
                document.getElementById("nextPage").onclick = function () {
                    location.href = '/admin?page=[[${pageNum+1}]]'};
            </script>
            <script type="text/javascript">
                document.getElementById("refresh").onclick = function () {
                    location.href = '/admin'};
            </script>
        </div>
    </div>
    <div style="margin-top: 0.6em">
        <button type="button" onclick="location.href = '/admin/new';">New User</button>
        <button type="button" onclick="location.href = '/admin/filter';">Filter</button>
        <button type="button" onclick="location.href = '/admin/search';">Search</button>
        <button th:if="${isFilterActive}" type="button" onclick="location.href = '/admin/removeFilter';">Remove Filter</button>
    </div>
    <div style="margin-top: 0.6em">
        <button type="button" onclick="location.href = '/welcome';">Homepage</button>
        <button type="button" onclick="location.href = '/user';">My profile</button>
        <button type="button" onclick="location.href = '/logout';">Logout</button>
    </div>
</body>
</html>