<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="font-size: 0.95em;" th:with="userPages = ((${users.size()} - (${users.size()} % 19)))/19 + 1">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        //<script th:inline="javascript">
        // addEventListener("keydown", function (event) {
        //     switch (event.keyCode) {
        //         case 37:
        //         case 38:
        //             document.getElementById("prevPage").click();
        //             break;
        //         case 39:
        //         case 40:
        //             document.getElementById("nextPage").click();
        //             break;
        //         case 78:
        //         case 67:
        //             location.href = '/admin/new';
        //             break;
        //         case 70:
        //             location.href = '/admin/filter';
        //             break;
        //         case 83:
        //             location.href = '/admin/search';
        //             break;
        //         case 82:
        //             location.href = '/admin/removeFilter';
        //             break;
        //         case 72:
        //             location.href = '/welcome';
        //             break;
        //         case 77:
        //         case 85:
        //             location.href = '/user';
        //             break;
        //         case 76:
        //             location.href = '/logout';
        //             break;
        //     }
        // });
        var currUser = 9;
        $('#modalEdit').removeData('bs.modal');
    </script>

    <!-- Верхняя серая строчка -->
    <div class="row p-2 mx-0 align-items-center bg-dark">
        <div class="col-md-11">
            <a class="text-light text-decoration-none" href="/user">
                <b>[[${principal.getEmail()}]]</b> with roles: [[${principal.getUserRole()}]]
            </a>
        </div>
        <div class="col-md-1">
            <a class="text-white-50 text-decoration-none" href="/logout">Logout</a>
        </div>
    </div> <!-- /Верхняя серая строчка -->

    <!-- боковая панель -->
    <nav class="col-2 nav float-left d-inline-block p-0 pt-3 flex-column nav-pills">
        <a class="nav-link active" href="javascript:void(0);">Admin</a>
        <a class="nav-link" href="/user">User</a>
    </nav>

    <!-- основной блок -->
    <div class="col-10 d-inline-block bg-light" th:with="currUser=0">
        <h3 class="p-2 mt-2">Admin panel</h3>

        <!-- Tabs -->
        <div class="tabs" id="mainTabs">

            <!-- Tab titles -->
            <ul class="nav nav-tabs">
                <li class="nav-item border-bottom">
                    <a id="tableTab" class="nav-link" data-toggle="tab" role="tab" href="#table">Users Table</a>
                </li>
                <li class="nav-item border-bottom">
                    <a id="newTab" class="nav-link" data-toggle="tab" role="tab" href="#new">New User</a>
                </li>
            </ul>

            <!-- Tabs content -->
            <div class="tab-content">

                <!-- Users tab content -->
                <div class="tab-pane fade" id="table">
                    <div class="p-3 border border-top-0">
                        <h5 class="my-0">All Users</h5>
                    </div>

                    <div class="p-3 bg-white border border-top-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Info</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, itemStat : ${users}"
                                th:with="uId=${user.getId()}, uName=${user.getFirstname()}, uLname=${user.getLastname()} , uAge=${user.getAge()} , uEmail=${user.getEmail()}, uUsername=${user.getUsername()} , uPassword=${user.getPassword()} , uRoles=${user.getUserRole()}"
                                th:if="((${itemStat.count}>((${pageNum}*19)-19)) and (${itemStat.count}<((${pageNum}*19))) )">
                                <td th:text="'&nbsp;'+${uId}">id</td>
                                <td th:text="${uName}">name</td>
                                <td th:text="${uLname}">lastname</td>
                                <td th:text="${uAge}">age</td>
                                <td th:text="${uEmail}">email</td>
                                <td th:text="${uRoles}">role</td>
                                <td>
                                    <a>
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                                th:data-id=@{{i}(i=${uId})} th:data-name=@{{i}(i=${uName})}
                                                th:data-lname=@{{i}(i=${uLname})}
                                                th:data-age=${uAge} th:data-email=@{{i}(i=${uEmail})}
                                                th:data-username=@{{i}(i=${uUsername})}
                                                th:data-password=@{{i}(i=${uPassword})}
                                                th:data-roles=@{{i}(i=${uRoles})}
                                                th:data-origin="infoButton" data-target="#modalWindow">Info</button>
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                                th:data-id=@{{i}(i=${uId})} th:data-name=@{{i}(i=${uName})}
                                                th:data-lname=@{{i}(i=${uLname})}
                                                th:data-age=${uAge} th:data-email=@{{i}(i=${uEmail})}
                                                th:data-username=@{{i}(i=${uUsername})}
                                                th:data-password=@{{i}(i=${uPassword})}
                                                th:data-roles=@{{i}(i=${uRoles})}
                                                th:data-origin="editButton" data-target="#modalWindow">Edit
                                        </button>
                                    </a>
                                </td>
                                <td><a>
                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                            th:data-id=@{{i}(i=${uId})} th:data-name=@{{i}(i=${uName})}
                                            th:data-lname=@{{i}(i=${uLname})}
                                            th:data-age=${uAge} th:data-email=@{{i}(i=${uEmail})}
                                            th:data-username=@{{i}(i=${uUsername})}
                                            th:data-password=@{{i}(i=${uPassword})}
                                            th:data-roles=@{{i}(i=${uRoles})}
                                            th:data-origin="deleteButton" data-target="#modalWindow">Delete
                                    </button>
                                </a></td>
                            </tr>
                            <tr th:if="${(users.size()<=0)&&isFilterActive}">
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <table>
                                <tr>
                                    <td>
                                        <div style="font-size: smaller">page [[${pageNum}]] of [[${userPages}]], users:
                                            [[${users.size()}]]
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            </tbody>
                        </table>
                    </div>
                    <label th:if="${(users.size()<=0)&&isFilterActive}"><br>No entries found<br></label>
                    <div style="margin-top: 0.6em;">
                        <button th:if="${pageNum > 1}" type="button" id="prevPage">Prev page</button>
                        <button th:if="${pageNum <= 1}" type="button" id="prevPage" disabled>Prev page</button>
                        <button th:if="${pageNum} < ${userPages}" type="button" id="nextPage">Next page</button>
                        <button th:if="${pageNum} >= ${userPages}" type="button" id="nextPage" disabled>Next page</button>
                        <button type="button" onclick="location.href = '/admin/filter';">Filter</button>
                        <button type="button" onclick="location.href = '/admin/search';">Search</button>
                        <button th:if="${!isFilterActive}" id="refresh" type="button">Refresh</button>
                        <button th:if="${isFilterActive}" type="button" onclick="location.href = '/admin/removeFilter';">Remove Filter</button>
                        <script type="text/javascript">
                            document.getElementById("prevPage").onclick = function () {
                                location.href = '/admin?page=[[${pageNum-1}]]'
                            };
                        </script>
                        <script type="text/javascript">
                            document.getElementById("nextPage").onclick = function () {
                                location.href = '/admin?page=[[${pageNum+1}]]'
                            };
                        </script>
                        <script type="text/javascript">
                            document.getElementById("refresh").onclick = function () {
                                location.href = '/admin'
                            };
                        </script>
                    </div>
                </div>

                <!--New User tab content-->
                <div class="tab-pane fade" style="font-size: 0.9em;" id="new">
                    <div class="p-3 border border-top-0">
                        <h5 class="my-0">Add New User</h5>
                    </div>
                    <div class="listbtn p-3 bg-white border border-top-0">

                        <form class="text-center" th:method="post" th:action="@{/admin/}" th:object="${user}">

                            <input id="idNew" style="display: none" type="text" name="id">
                            <div id="idNewError" style="display: none"></div>

                            <label for="firstnameNew" class="font-weight-bolder mb-1">First name</label><br>
                            <input  id="firstnameNew" class="border rounded"
                                   th:style="${#fields.hasErrors('firstname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{firstname}" type="text">
                            <div id="firstnameNewError" th:if="${#fields.hasErrors('firstname')}" class="small text-danger"
                                 th:utext="${#fields.errors('firstname').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('firstname')}"></div>

                            <label for="lastnameNew" class="font-weight-bolder mt-3 mb-1">Last name</label><br>
                            <input id="lastnameNew" class="border rounded"
                                   th:style="${#fields.hasErrors('lastname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{lastname}" type="text">
                            <div id="lastnameNewError" th:if="${#fields.hasErrors('lastname')}" class="small text-danger"
                                 th:utext="${#fields.errors('lastname').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('lastname')}"></div>

                            <label for="ageNew" class="font-weight-bolder mt-3 mb-1">Age</label><br>
                            <input  id="ageNew" class="border rounded"
                                   th:style="${#fields.hasErrors('age')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{age}" type="text">
                            <div id="ageNewError" th:if="${#fields.hasErrors('age')}" class="small text-danger">Age should be between 0 and 199 years</div>
                            <div th:unless="${#fields.hasErrors('age')}"></div>

                            <label for="emailNew" class="font-weight-bolder mt-3 mb-1">Email</label><br>
                            <input  id="emailNew" class="border rounded"
                                   th:style="${#fields.hasErrors('email')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{email}" type="text">
                            <div id="emailNewError" th:if="${#fields.hasErrors('email')}" class="small text-danger"
                                 th:utext="${#fields.errors('email').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('email')}"></div>

                            <label for="usernameNew" class="font-weight-bolder mt-3 mb-1">Username</label><br>
                            <input id="usernameNew" class="border rounded"
                                   th:style="${#fields.hasErrors('username')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{username}" type="text">
                            <div id="usernameNewError" th:if="${#fields.hasErrors('username')}" class="small text-danger"
                                 th:utext="${#fields.errors('username').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('username')}"></div>

                            <label for="passwordNew" class="font-weight-bolder mt-3 mb-1">Password</label><br>
                            <input  id="passwordNew" class="border rounded"
                                   th:style="${#fields.hasErrors('password')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{password}" type="text">
                            <div id="passwordNewError" th:if="${#fields.hasErrors('password')}" class="small text-danger"
                                 th:utext="${#fields.errors('password').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('password')}"></div>

                            <label class="font-weight-bolder mt-3 mb-1">Roles</label>
                            <div th:each="r : ${roles}">
                                <label class="mb-1" style="cursor: pointer;">
                                    <input th:id="${'checkboxNew-'+r.id}"
                                           style="width: calc(1vw); height: calc(1vw); vertical-align: middle; cursor: pointer"
                                           type="checkbox" name="index" th:checked="${user.hasRole(r)}" th:value="${r.id}"/>
                                    <span th:text="${r.role}"></span>
                                </label>
                            </div>
                            <input class="mt-3 mb-4 btn btn-success" type="submit" value="Add new user"/>
                        </form>
                    </div>
                    <script type="text/javascript">
                        if ([[${modalWindowId}]] < 2) {
                            document.getElementById("table").classList.add('active', 'show');
                            document.getElementById("tableTab").classList.add('active');
                        }
                        if ([[${modalWindowId}]] === 2) {
                            document.getElementById("new").classList.add('active', 'show');
                            document.getElementById("newTab").classList.add('active');
                        }
                    </script>
                </div>

            </div>

            <!--Footer buttons Home\Profile\Logout-->
            <div class="mb-5" style="margin-top: 0.6em">
                <button type="button" onclick="location.href = '/welcome';">Homepage</button>
                <button type="button" onclick="location.href = '/user';">My profile</button>
                <button type="button" onclick="location.href = '/logout';">Logout</button>
            </div>

        </div>

        <!-- Edit modal window-->
        <div id="modalWindow" class="modal" style="font-size: 0.9em;" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="text-center" th:method="patch" th:action="@{/admin/}" th:object="${user}">

                        <label for="idEdit" class="font-weight-bolder mt-4 mb-1">Id</label><br>
                        <input id="idEdit" class="border rounded"
                               th:style="'width: 19rem;'"
                               th:value=${user.getId()} type="text" name="id">
                        <div id="idEditError"></div>

                        <label for="firstnameEdit" class="font-weight-bolder mt-3 mb-1">First name</label><br>
                        <input id="firstnameEdit" class="border rounded"
                               th:style="${#fields.hasErrors('firstname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{firstname}"  type="text" >
                        <div id="firstnameEditError" th:if="${#fields.hasErrors('firstname')}" class="small text-danger"
                             th:utext="${#fields.errors('firstname').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('firstname')}"></div>

                        <label for="lastnameEdit" class="font-weight-bolder mt-3 mb-1">Last name</label><br>
                        <input id="lastnameEdit" class="border rounded"
                               th:style="${#fields.hasErrors('lastname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{lastname}" type="text">
                        <div id="lastnameEditError" th:if="${#fields.hasErrors('lastname')}" class="small text-danger"
                             th:utext="${#fields.errors('lastname').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('lastname')}"></div>

                        <label for="ageEdit" class="font-weight-bolder mt-3 mb-1">Age</label><br>
                        <input id="ageEdit" class="border rounded"
                               th:style="${#fields.hasErrors('age')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{age}" type="text">
                        <div id="ageEditError" th:if="${#fields.hasErrors('age')}" class="small text-danger">Age should be between 0 and 199
                            years
                        </div>
                        <div th:unless="${#fields.hasErrors('age')}"></div>

                        <label for="emailEdit" class="font-weight-bolder mt-3 mb-1">Email</label><br>
                        <input id="emailEdit" class="border rounded"
                               th:style="${#fields.hasErrors('email')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{email}" type="text">
                        <div id="emailEditError" th:if="${#fields.hasErrors('email')}" class="small text-danger"
                             th:utext="${#fields.errors('email').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('email')}"></div>

                        <label for="usernameEdit" class="font-weight-bolder mt-3 mb-1">Username</label><br>
                        <input id="usernameEdit" class="border rounded"
                               th:style="${#fields.hasErrors('username')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{username}" type="text">
                        <div id="usernameEditError" th:if="${#fields.hasErrors('username')}" class="small text-danger"
                             th:utext="${#fields.errors('username').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('username')}"></div>

                        <label for="passwordEdit" class="font-weight-bolder mt-3 mb-1">Password</label><br>
                        <input id="passwordEdit" class="border rounded"
                               th:style="${#fields.hasErrors('password')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:field="*{password}" type="text">
                        <div id="passwordEditError" th:if="${#fields.hasErrors('password')}" class="small text-danger"
                             th:utext="${#fields.errors('password').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('password')}"></div>

                        <label class="font-weight-bolder mt-3 mb-1">Roles</label>
                        <div th:each="r : ${roles}">
                            <label class="mb-1" style="cursor: pointer;">
                                <input th:id="${'checkboxEdit-'+r.id}"
                                       style="width: calc(1vw); height: calc(1vw); vertical-align: middle; cursor: pointer"
                                       type="checkbox" name="index" th:checked="${user.hasRole(r)}" th:value="${r.id}"/>
                                <span th:text="${r.role}"></span>
                            </label>
                        </div>
                        <input id='formCancel' class="mt-3 mb-5 btn btn-secondary" type="button" onclick="$('#modalWindow').modal('hide');"
                               value="Close"/>
                        <input id='formSubmit' class="mt-3 mb-5 btn btn-info" type="submit" onclick="$('#modalWindow').modal('hide');"
                               value="Edit"/>

                        <script type="text/javascript">
                            if ([[${modalWindowId}]] === 2) {
                                document.getElementById("modalWindow").style.display = "display-block";
                            }
                        </script>
                    </form>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">

                if ([[${modalWindowId}]] === 1) {
                    $('#modalWindow').modal('show');
                }

                $("#modalWindow").on('show.bs.modal', function (e) {
                    const modal = $(e.relatedTarget);
                    function setFieldValue(fName, dataName) {
                        $('#'+fName)
                            .addClass('bg-white') //document.getElementById(fName).style.backgroundColor = '#FFFFFF';
                            .val(decodeURIComponent(modal.data(dataName)));
                        $('#'+fName+'Error').text(' ');

                        if (modal.data('origin')==='editButton') {
                            $('#'+fName).removeClass('text-muted').removeAttr('disabled', 'disabled');
                        } else {
                            $('#'+fName).addClass('text-muted').attr('disabled', 'disabled'); //document.getElementById(fName).classList.add('бутстрэп класс');
                        }
                    }

                    if (modal.data('origin')==='editButton') {
                        $('#checkboxEdit-1').removeAttr('disabled', 'disabled');
                        $('#checkboxEdit-2').removeAttr('disabled', 'disabled');
                        $('#checkboxEdit-3').removeAttr('disabled', 'disabled');
                        document.getElementById("formSubmit").setAttribute('type', 'submit');
                    } else {
                        $('#checkboxEdit-1').attr('disabled', 'disabled');
                        $('#checkboxEdit-2').attr('disabled', 'disabled');
                        $('#checkboxEdit-3').attr('disabled', 'disabled');
                        document.getElementById("formSubmit").setAttribute('type', 'button');
                    }

                    if (modal.data('origin')==='infoButton') {
                        //$('#formSubmit').val('Close').removeClass('btn-primary').addClass('btn btn-secondary');
                        document.getElementById("formSubmit").hidden=true;
                    } else if (modal.data('origin')==='editButton') {
                        document.getElementById("formSubmit").hidden=false;
                        $('#formSubmit').val('Edit').removeClass('btn-secondary btn-danger').addClass('btn-primary');
                    } else if (modal.data('origin')==='deleteButton') {
                        document.getElementById("formSubmit").hidden=false;
                        $('#formSubmit').val('Delete').removeClass('btn-secondary btn-primary').addClass('btn-danger');
                        document.getElementById("formSubmit").onclick = function(){location.href = '/admin/delete='+modal.data('id')}
                    }

                    setFieldValue('idEdit', 'id');
                    setFieldValue('firstnameEdit', 'name');
                    setFieldValue('lastnameEdit', 'lname');
                    setFieldValue('ageEdit', 'age');
                    setFieldValue('emailEdit', 'email');
                    setFieldValue('usernameEdit', 'username');
                    setFieldValue('passwordEdit', 'password');

                    let roles = modal.data('roles');

                    document.getElementById("checkboxEdit-1").checked = (roles.indexOf('ADMIN') !== -1);
                    document.getElementById("checkboxEdit-2").checked = (roles.indexOf('USER') !== -1);
                    document.getElementById("checkboxEdit-3").checked = (roles.indexOf('GUEST') !== -1);
                });

                $('#newTab').on('show.bs.tab', function () {
                    function clearFieldValue(fName) {
                        document.getElementById(fName).style.backgroundColor = '#FFFFFF';
                        $('#'+fName).val('');
                        $('#'+fName+'Error').text(' ');
                    }

                    clearFieldValue('idNew');
                    clearFieldValue('firstnameNew');
                    clearFieldValue('lastnameNew');
                    clearFieldValue('ageNew');
                    clearFieldValue('emailNew');
                    clearFieldValue('usernameNew');
                    clearFieldValue('passwordNew');

                    document.getElementById("checkboxNew-1").checked = false;
                    document.getElementById("checkboxNew-2").checked = false;
                    document.getElementById("checkboxNew-3").checked = false;
                });
            </script>
        </div>

    </div>
</body>
</html>