<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

<!--    <style type="text/css">-->
<!--        body {-->
<!--            font-size: calc(1.265vw);-->
<!--        }-->
<!--        th {-->
<!--            padding: calc(1vw) !important;-->
<!--        }-->
<!--        td {-->
<!--            padding: calc(0.95vw) !important;-->
<!--        }-->
<!--        button {-->
<!--            padding: calc(0.62vw) !important;-->
<!--            padding-top : calc(0.31vw) !important;-->
<!--            padding-bottom: calc(0.31vw) !important;-->
<!--            font-size: calc(1.1vw) !important;-->
<!--        }-->
<!--        input[type=submit] {-->
<!--            padding: calc(1.1vw) !important;-->
<!--            padding-top : calc(0.33vw) !important;-->
<!--            padding-bottom: calc(0.33vw) !important;-->
<!--            font-size: calc(1.25vw) !important;-->
<!--        }-->

<!--        h2 {-->
<!--            font-size: calc(2.55vw) !important;-->
<!--        }-->
<!--        h5 {-->
<!--            font-size: calc(1.4vw) !important;-->
<!--        }-->
<!--        label {-->
<!--            font-size: calc(1.1vw) !important;-->
<!--        }-->
<!--    </style>-->

</head>
<body th:with="userPages = ((${users.size()} - (${users.size()} % 19)))/19 + 1">
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        var cm=2;
        var tm = /*[[2]]*/;

        //<script th:inline="javascript">
        // addEventListener("keydown", function (event) {
        //     switch (event.keyCode) {
        //         case 37:
        //         case 38:
        //             document.getElementById("prevPage").click();
        //             break;
        //         case 39:
        //         case 40:
        //             document.getElementById("nextPage").click();
        //             break;
        //         case 78:
        //         case 67:
        //             location.href = '/admin/new';
        //             break;
        //         case 70:
        //             location.href = '/admin/filter';
        //             break;
        //         case 83:
        //             location.href = '/admin/search';
        //             break;
        //         case 82:
        //             location.href = '/admin/removeFilter';
        //             break;
        //         case 72:
        //             location.href = '/welcome';
        //             break;
        //         case 77:
        //         case 85:
        //             location.href = '/user';
        //             break;
        //         case 76:
        //             location.href = '/logout';
        //             break;
        //     }
        // });
    </script>

    <!-- Верхняя серая строчка -->
    <div class="row p-2 mx-0 align-items-center bg-dark">
        <div class="col-md-11">
            <a class="text-light text-decoration-none" href="/user">
                <b>[[${principal.getEmail()}]]</b> with roles: [[${principal.getUserRole()}]]
<!--                123 <a th:href="@{__${#httpServletRequest.getMethod()}__/store/}">Click to More</a>-->
<!--                <a th:href="@{__${#httpServletRequest.requestURI}__/store/}">Click to More</a>-->
            </a>
        </div>
        <div class="col-md-1">
            <a class="text-white-50 text-decoration-none" href="/logout">Logout</a>
        </div>
    </div> <!-- /Верхняя серая строчка -->

    <!-- боковая панель -->
    <nav class="col-2 nav float-left d-inline-block p-0 pt-3 flex-column nav-pills">
        <a class="nav-link active" href="javascript:void(0);">Admin</a>
        <a class="nav-link" href="/user">User</a>
    </nav>

    <div class="col-10 d-inline-block bg-light" th:with="currUser=0">
        <h2 class="p-2 mt-2">Admin panel</h2>

        <!-- Edit-->
        <div id="modalEdit" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="text-center" th:method="patch" th:action="@{/admin/}" th:with="user=${users[currUser]}" th:object="${user}">
                        <label>
                            <input type="text" hidden="false" th:value = ${user.getId()} name="id"></label>
                        <br>

                        <label for="firstname" class="font-weight-bolder mb-1 mt-1">First name</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('firstname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getFirstname()} type="text" name="firstname">
                        <div th:if="${#fields.hasErrors('firstname')}" class="small text-danger" th:utext="${#fields.errors('firstname').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('firstname')}"></div>

                        <label for="lastname" class="font-weight-bolder mt-3 mb-1">Last name</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('lastname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getLastname()} type="text" name="lastname">
                        <div th:if="${#fields.hasErrors('lastname')}" class="small text-danger" th:utext="${#fields.errors('lastname').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('lastname')}"></div>

                        <label for="age" class="font-weight-bolder mt-3 mb-1">Age</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('age')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getAge()} type="text" name="age">
                        <div th:if="${#fields.hasErrors('age')}" class="small text-danger">Age should be between 0 and 199 years</div>
                        <div th:unless="${#fields.hasErrors('age')}"></div>

                        <label for="email" class="font-weight-bolder mt-3 mb-1">Email</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('email')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getEmail()} type="text" name="email">
                        <div th:if="${#fields.hasErrors('email')}" class="small text-danger" th:utext="${#fields.errors('email').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('email')}"></div>

                        <label for="username" class="font-weight-bolder mt-3 mb-1">Username</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('username')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getUsername()} type="text" name="username">
                        <div th:if="${#fields.hasErrors('username')}" class="small text-danger" th:utext="${#fields.errors('username').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('username')}"></div>

                        <label for="password" class="font-weight-bolder mt-3 mb-1">Password</label><br>
                        <input class="border rounded"
                               th:style="${#fields.hasErrors('password')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                               th:value = ${user.getPassword()} type="text" name="password">
                        <div th:if="${#fields.hasErrors('password')}" class="small text-danger" th:utext="${#fields.errors('password').get(0)}"></div>
                        <div th:unless="${#fields.hasErrors('password')}"></div>

                        <label class="font-weight-bolder mt-3 mb-1">Roles</label>
                        <div th:each="r : ${roles}">
                            <label class="mb-1" style="cursor: pointer;">
                                <input style="width: calc(1vw); height: calc(1vw); vertical-align: middle; cursor: pointer" type="checkbox" name="index" th:checked="${user.hasRole(r)}" th:value="${r.id}"/>
                                <span th:text="${r.role}"></span>
                            </label>
                        </div>
                        <input class="mt-3 mb-5 btn btn-success" type="submit" onclick="$('#modalEdit').modal('hide');" value="Update"/>

                        <script type="text/javascript">
                            if ([[${modalWindowId}]]===2) {
                                document.getElementById("modalEdit").style.display = "display-block";
                            }
                        </script>
                    </form>
                </div>
            </div>
            <script type="text/javascript">
                if ([[${modalWindowId}]]===1) {
                    $('#modalEdit').modal('show');
                }
            </script>
        </div>

        <div class="tabs" >
            <ul class="nav nav-tabs">
                <li class="nav-item border-bottom">
                    <a id="tableTab" class="nav-link" data-toggle="tab" href="#table">Users Table</a>
                </li>
                <li class="nav-item border-bottom">
                    <a id="newTab" class="nav-link" data-toggle="tab" href="#new">New User</a>
                </li>
            </ul>

            <div class="tab-content">


<!--                    th:class="${#httpServletRequest.getMethod()}==POST? '' : 'show active'"-->


                <div class="tab-pane fade" id="table">
                    <div class="p-3 border border-top-0">
                        <h5 class="my-0">All Users</h5>
                    </div>

                    <div class="p-3 bg-white border border-top-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Info</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user, itemStat : ${users}"
                                    th:if="((${itemStat.count}>((${pageNum}*19)-19)) and (${itemStat.count}<((${pageNum}*19))) )">
                                    <td th:text="'&nbsp;'+${user.getId()}">id</td>
                                    <td th:text="${user.getFirstname()}">name</td>
                                    <td th:text="${user.getLastname()}">lastname</td>
                                    <td th:text="${user.getAge()}">age</td>
                                    <td th:text="${user.getEmail()}">email</td>
                                    <td th:text="${user.getUserRole()}">role</td>
                                    <td>
                                        <a th:href="@{/admin/{id}(id=${user.getId()})}">
                                            <button th:text="${users[itemStat.index].getId()}" type="button" class="btn btn-sm btn-info">Info</button>
                                        </a>
                                    </td>
<!--                                        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">-->
                                    <td><a>
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" th:onclick="currModalUser=[[${users[itemStat.index].getId()}]]" data-id="[[${users[itemStat.index].getId()}]]" data-target="#modalEdit">Edit</button>
<!--                                            data-target=".modalEdit" for class-->
                                    </a></td>
                                    <td><a th:href="@{/admin/delete={id}(id=${user.getId()})}">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </a></td>
                                </tr>
                                <tr th:if="${(users.size()<=0)&&isFilterActive}">
                                    <td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
                                </tr>
                                <table>
                                    <tr>
                                        <td>
                                            <div id="content" style="font-size: smaller">
                                                <div>page [[${pageNum}]] of [[${userPages}]], users: [[${users.size()}]]</div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </tbody>
                        </table>
                    </div>
                    <label th:if="${(users.size()<=0)&&isFilterActive}"><br>No entries found<br></label>
                    <div style="margin-top: 0.6em;">
                        <button th:if="${pageNum > 1}" type="button" id="prevPage">Prev page</button>
                        <button th:if="${pageNum <= 1}" type="button" disabled>Prev page</button>
                        <button th:if="${pageNum} < ${userPages}" type="button" id="nextPage">Next page</button>
                        <button th:if="${pageNum} >= ${userPages}" type="button" disabled>Next page</button>
                        <button type="button" onclick="location.href = '/admin/filter';">Filter</button>
                        <button type="button" onclick="location.href = '/admin/search';">Search</button>
                        <button th:if="${!isFilterActive}" id="refresh" type="button">Refresh</button>
                        <button th:if="${isFilterActive}" type="button" onclick="location.href = '/admin/removeFilter';">Remove Filter</button>
                        <script type="text/javascript">
                            document.getElementById("prevPage").onclick = function () {
                                location.href = '/admin?page=[[${pageNum-1}]]'};
                        </script>
                        <script type="text/javascript">
                            document.getElementById("nextPage").onclick = function () {
                                location.href = '/admin?page=[[${pageNum+1}]]'};
                        </script>
                        <script type="text/javascript">
                            document.getElementById("refresh").onclick = function () {
                                location.href = '/admin'};
                        </script>
                    </div>
                </div>

                <!--New User-->
                <div class="tab-pane fade" id="new">
                    <div class="p-3 border border-top-0">
                        <h5 class="my-0">Add New User</h5>
                    </div>
                    <div class="listbtn p-3 bg-white border border-top-0">

                        <form class="text-center" th:method="post" th:action="@{/admin/}" th:object="${user}">

                            <label for="firstname" class="font-weight-bolder mb-1">First name</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('firstname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{firstname}" type="text" id="firstname">
                            <div th:if="${#fields.hasErrors('firstname')}" class="small text-danger" th:utext="${#fields.errors('firstname').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('firstname')}"></div>

                            <label for="lastname" class="font-weight-bolder mt-3 mb-1">Last name</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('lastname')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{lastname}" type="text" id="lastname">
                            <div th:if="${#fields.hasErrors('lastname')}" class="small text-danger" th:utext="${#fields.errors('lastname').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('lastname')}"></div>

                            <label for="age" class="font-weight-bolder mt-3 mb-1">Age</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('age')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{age}" type="text" id="age">
                            <div th:if="${#fields.hasErrors('age')}" class="small text-danger">Age should be between 0 and 199 years</div>
                            <div th:unless="${#fields.hasErrors('age')}"></div>

                            <label for="email" class="font-weight-bolder mt-3 mb-1">Email</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('email')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{email}" type="text" id="email">
                            <div th:if="${#fields.hasErrors('email')}" class="small text-danger" th:utext="${#fields.errors('email').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('email')}"></div>

                            <label for="username" class="font-weight-bolder mt-3 mb-1">Username</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('username')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{username}" type="text" id="username">
                            <div th:if="${#fields.hasErrors('username')}" class="small text-danger" th:utext="${#fields.errors('username').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('username')}"></div>

                            <label for="password" class="font-weight-bolder mt-3 mb-1">Password</label><br>
                            <input class="border rounded"
                                   th:style="${#fields.hasErrors('password')}? 'background-color: #ffebb9; width: 19rem;' : 'width: 19rem;'"
                                   th:field="*{password}" type="text" id="password">
                            <div th:if="${#fields.hasErrors('password')}" class="small text-danger" th:utext="${#fields.errors('password').get(0)}"></div>
                            <div th:unless="${#fields.hasErrors('password')}"></div>

                            <label class="font-weight-bolder mt-3 mb-1">Roles</label>
                            <div th:each="r : ${roles}">
                                <label class="mb-1" style="cursor: pointer;">
                                    <input style="width: calc(1vw); height: calc(1vw); vertical-align: middle; cursor: pointer" type="checkbox" name="index" th:checked="${user.hasRole(r)}" th:value="${r.id}"/>
                                    <span th:text="${r.role}"></span>
                                </label>
                            </div>
                            <input class="mt-3 mb-4 btn btn-success" type="submit" value="Add new user"/>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    if ([[${modalWindowId}]]<2) {
                        document.getElementById("table").classList.add('active', 'show');
                        document.getElementById("tableTab").classList.add('active');
                    }
                    if ([[${modalWindowId}]]===2) {
                        document.getElementById("new").classList.add('active', 'show');
                        document.getElementById("newTab").classList.add('active');
                    }
                </script>
            </div>


            <script>
                $("#modalEdit").on('show.bs.modal', function(){
                   // alert("Hello World!");

                   // var myBookId = $(this).data('id');

                 //   $(".modal-body #bookId").val( myBookId );

                });
            </script>

            <div style="margin-top: 0.6em">
                <button type="button" onclick="location.href = '/welcome';">Homepage</button>
                <button type="button" onclick="location.href = '/user';">My profile</button>
                <button type="button" onclick="location.href = '/logout';">Logout</button>
            </div>
            <br>
            <br>
        </div>

    </div>
</body>
</html>