<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/search}" th:object="${user}">
    <br>
    <label for="firstname">Name:</label><br>
    <input type="text" th:field="*{firstname}" id="firstname">
    <br><br>
    <label for="lastname">Lastname: </label><br>
    <input type="text" th:field="*{lastname}" id="lastname">
    <br><br>
    <label for="age">Age: </label><br>
    <input type="text" th:field="*{age}" id="age">
    <br><br>
    <label for="email">Email: </label><br>
    <input type="text" th:field="*{email}" id="email">
    <br><br>
    <label for="username">Username:</label><br>
    <input type="text" th:field="*{username}" id="username">
    <br><br>

    <label>Roles</label>
    <br>
    <div th:each="r : ${roles}">
        <label>
            <input type="checkbox" name="index" th:value="${r.id}"/>
        </label>
        <label th:text="${r.role}"></label>
        <br>
    </div>
    <br><br>

    <button type="button" onclick="location.href = '/admin';">Return</button>&nbsp;
    <input type="submit" value="Search"/>
</form>
</body>
</html>